@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.App {
  text-align: center;
  background-color: black;
  min-height: 100vh;
  display: grid;
  place-content: center;
  gap: 1rem;
  font-family: pacifico;
}

.clock{
  /* clock face */
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
  
}

.clockSection{
  min-width: 100px;
  color: aqua;
  padding: 1rem;
  border: 1px solid white;
}
.clockSectionContent{
  color: firebrick;
  font-size: 2rem;;
}

.controls{
  min-height: 50px;
  border-radius: 25px;
  background-color: aqua;
  font-family: inherit;
  font-size: 1.5rem;
}

.btn{
  width : 30px;
  height: 30px;
  border : none;
  border-radius: 50%;
  font-size: 1.25rem;
}

.plusBtn{
  background-color: lightgreen;
}

.minusBtn {
  background-color: lightcoral;
}

.plusBtn:hover{
  background-color: limegreen;
}

.minusBtn:hover{
  background-color: red;
}